<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/> 
<meta name="author" content="author"/> 
<link rel="stylesheet" type="text/css" href="/css/trans.css" media="screen"/>
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<title>Docs:  {{ page.title }}</title>
</head>
<body>
<div class="container">
	<div class="main">
		<div class="header">
                     <a href="http://dev.gina.alaska.edu"><img src="/images/home_button.png" style="position: absolute;" width="300" height="50"></a>
			<div class="title">
				<h1> {{ page.title }}</h1>
			</div>
		</div>
		
		<div class="content">
			{{content}}
		</div>
			
		<div class="sidenav">
                        <h1>GINA Docs</h1>
                        <ul>
                                <li><a href="/">GINA Docs Home</a></li>
                                <li><a href="http://dev.gina.alaska.edu">GINA Home</a></li>
                        </ul>
			<h1>NDVI</h1>
			<ul>
				<li><a href="/ndvi/">Overview</a></li>
				<li><a href="/ndvi/modis.html">MODIS</a></li>
				<li><a href="/ndvi/avhrr.html">AVHRR</a></li>
				<li><a href="/ndvi/wms.html">Colorized</a></li>
				<li><a href="/ndvi/how_to.html">Using in ArcMap</a></li>
				<li><a href="/ndvi/metrics/">Metrics</a></li>
			</ul>
			<h1>OGC</h1>
			<ul>
                                <li><a href="/ogc/">Overview</a></li>
                                <li><a href="/ogc/wcs">WCS</a></li>
                                <li><a href="/ogc/wfs">WFS</a></li>
                                <li><a href="/ogc/wms">WMS</a></li>
                        </ul>
                        <h1>Web Mapping</h1>
                        <ul>
                                <li><a href="/tiles/merc.html">Mercator</a></li>
                                <li><a href="/tiles/aa.html">Alaska Albers</a></li>
				<li><a href="http://gisjam.gina.alaska.edu/aksmc2010">Examples</a> </li>
                        </ul>
		</div>
	
		<div class="clearer"><span></span></div>

	</div>

	<div id="footer">
          <span style="padding-left: 20px;">
          <a href="http://dev.gina.alaska.edu/about">About</a> &nbsp;&nbsp;
          <a href="http://dev.gina.alaska.edu/contact-us">Contact Us</a> &nbsp;&nbsp;
          <a href="http://dev.gina.alaska.edu/services">Services</a> &nbsp;&nbsp;
          <a href="http://dev.gina.alaska.edu/jobs">Jobs</a> &nbsp;&nbsp;
          <a href="http://dev.gina.alaska.edu/services/gina-news">Gina News</a> &nbsp;&nbsp;
          <a href="http://dev.gina.alaska.edu/search">Search</a>
          </span>
	</div>

</div>

</body>

</html>
