<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/> 
<meta name="author" content="author"/> 
<link rel="stylesheet" type="text/css" href="/css/trans.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/map.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/google.css" media="screen"/>
<title>Docs:  {{ page.title }}</title>

<script src="/js/OpenLayers.js"> </script>
<script type="text/javascript">
        var map, layer;
        function init(){
            var layerExtent = new OpenLayers.Bounds(-3500000.0,-3500000.0,3500000.0,3500000.0);
            map = new OpenLayers.Map( 'map');
	    layer = new OpenLayers.Layer.XYZ( "Alaska",
                    "{{page.tile_url}}/${x}/${y}/${z}",
                    {sphericalMercator: true} );
            map.addLayer(layer);
            //map.zoomToExtent(map.restrictedExtent);
	    map.setCenter(new OpenLayers.LonLat(0,1500000), 3,true,true);
        }
</script>

</head>
<body onload="init()">
<div class="container">
	<div class="main">
		<div class="header">
			<div class="title">
				<h1> {{ page.title }}</h1>
			</div>
		</div>

		<div class="content">
			{{content}}

			<br>
			Here is an example of what the data in the service looks like:
			<br>

			<div id="map" class="smallmap"></div>
	
		</div>
			
		<div class="sidenav">

			<h1>NDVI</h1>
			<ul>
				<li><a href="/ndvi/">Overview</a></li>
				<li><a href="/ndvi/modis.html">MODIS</a></li>
				<li><a href="/ndvi/avhrr.html">AVHRR</a></li>
				<li><a href="/ndvi/wms.html">Colorized</a></li>
				<li><a href="/ndvi/how_to.html">Using in ArcMap</a></li>
				<li><a href="/ndvi/metrics/">Metrics</a></li>
			</ul>
                        <h1>OGC</h1>
                        <ul>
                                <li><a href="/ogc/">Overview</a></li>
                                <li><a href="/ogc/wcs">WCS</a></li>
                                <li><a href="/ogc/wfs">WFS</a></li>
                                <li><a href="/ogc/wms">WMS</a></li>
                        </ul>
                        <h1>Web Mapping</h1>
                        <ul>
                                <li><a href="/tiles/merc.html">Mercator</a></li>
                                <li><a href="/tiles/aa.html">Alaska Albers</a></li>
				<li><a href="http://gisjam.gina.alaska.edu/aksmc2010">Examples</a> </li>
                        </ul>
		</div>
	
		<div class="clearer"><span></span></div>

	</div>

	<div class="footer">
<p>
	As always, we would love to hear from folks – if you run into problems or have suggestions please let us know by posting here or emailing us at wms@alaskamapped.org .
</p>
template by <a href="http://templates.arcsin.se">Arcsin</a>
	</div>

</div>

</body>

</html>
