<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/> 
<meta name="author" content="author"/> 
<link rel="stylesheet" type="text/css" href="/css/trans.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/map.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/openlayers.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/css/google.css" media="screen"/>
<title>Docs:  {{ page.title }}</title>

<script src="/js/OpenLayers.js"> </script>
<script type="text/javascript">
	var root_url = "http://tiles.proto.gina.alaska.edu/tilesrv/";
	var tile_urls = ["faa_anchorage_84_south",
			"faa_cape_lisburne_42_north",
			"faa_ketchikan_49_south",
			"faa_point_barrow_71_south",
			"faa_fairbanks_84_north",
			"faa_bethel_51_south",
			"faa_dutch_harbor_42_north",
			"faa_cape_lisburne_42_south",
			"faa_whitehorse_49_south",
			"faa_point_barrow_71_north",
			"faa_dutch_harbor_42_south",
			"faa_western_aleutian_islands_42_west",
			"faa_dawson_42_south",
			"faa_nome_50_north",
			"faa_fairbanks_84_south",
			"faa_juneau_49_south",
			"faa_whitehorse_49_north",
			"faa_juneau_49_north",
			"faa_nome_50_south",
			"faa_kodiak_49_south",
			"faa_western_aleutian_islands_42_east",
			"faa_mcgrath_51_north",
			"faa_dawson_42_north",
			"faa_anchorage_84_north",
			"faa_mcgrath_51_south",
			"faa_kodiak_49_north",
			"faa_bethel_51_north",
			"faa_ketchikan_49_north"];
        var map, layer;
        function init(){
            var layerExtent = new OpenLayers.Bounds(-20037508.3427892,-20037508.3427892,20037508.3427892,20037508.3427892)
            map = new OpenLayers.Map( 'map', {'restrictedExtent': layerExtent} );
	    var bg = new OpenLayers.Layer.XYZ( "GINA Bathymetry", 
                "http://tiles.gina.alaska.edu/tilesrv/gina_bathymetry_rgb_google/tile/${x}/${y}/${z}", 
                {sphericalMercator: true} );
	    map.addLayer(bg);
	    for (x in tile_urls) {
		
		opts =  {isBaseLayer: false, visibility: false, sphericalMercator: true};
		if ( x < 5 )
		   {
			opts.visibility = true;
		   };
		
		layer = new OpenLayers.Layer.XYZ( tile_urls[x], root_url + tile_urls[x] + "/tile/${x}/${y}/${z}",opts );
		
		map.addLayer(layer);
	    };
            //map.addLayer(layer);
            //map.zoomToExtent(map.restrictedExtent);
	    map.addControl(new OpenLayers.Control.LayerSwitcher());
	    map.setCenter(new OpenLayers.LonLat(-16443669.90,9565828.80), 4,true,true);
        }
</script>

</head>
<body onload="init()">
<div class="container">
	<div class="main">
		<div class="header">
			<div class="title">
				<h1> {{ page.title }}</h1>
			</div>
		</div>

		<div class="content">
			{{content}}

			<br>
			Here is an example of what the data in the service looks like:
			<br>

			<div id="map" class="smallmap"></div>
	
		</div>
			
		<div class="sidenav">

			<h1>NDVI</h1>
			<ul>
				<li><a href="/ndvi/">Overview</a></li>
				<li><a href="/ndvi/modis.html">MODIS</a></li>
				<li><a href="/ndvi/avhrr.html">AVHRR</a></li>
				<li><a href="/ndvi/wms.html">Colorized</a></li>
				<li><a href="/ndvi/how_to.html">Using in ArcMap</a></li>
				<li><a href="/ndvi/metrics/">Metrics</a></li>
			</ul>
                        <h1>OGC</h1>
                        <ul>
                                <li><a href="/ogc/">Overview</a></li>
                                <li><a href="/ogc/wcs">WCS</a></li>
                                <li><a href="/ogc/wfs">WFS</a></li>
                                <li><a href="/ogc/wms">WMS</a></li>
                        </ul>
                        <h1>Web Mapping</h1>
                        <ul>
                                <li><a href="/tiles/merc.html">Mercator</a></li>
                                <li><a href="/tiles/aa.html">Alaska Albers</a></li>
				<li><a href="http://gisjam.gina.alaska.edu/aksmc2010">Examples</a> </li>
                        </ul>
		</div>
	
		<div class="clearer"><span></span></div>

	</div>

	<div class="footer">
<p>
	As always, we would love to hear from folks – if you run into problems or have suggestions please let us know by posting here or emailing us at wms@alaskamapped.org .
</p>
template by <a href="http://templates.arcsin.se">Arcsin</a>
	</div>

</div>

</body>

</html>
